.app {
	//display: grid;
	min-height: 100vh;

	//grid-template-rows: auto 1fr auto;

	&-wrapper {
		width: 100%;
		display: flex;
		//flex: 1;
		min-height: inherit;
		//margin-top: 2rem;
		@media screen and (min-width: 768px) {
			margin-top: 0;
		}
	}

	&-children {
		//flex: 1;
		width: 100%;
		min-height: inherit;
		padding: 0 1rem;
	}
}

.app-sidenav {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
		width: 100%;
		max-width: 98px;
		padding: 0 1rem;
		//margin-right: 1.7rem;
		ul {
			.top {
				width: 3.25rem;
				padding: 1.85rem 0;
				background-color: #1a1e1f;
				margin-bottom: 2rem;
				border-radius: 2.28rem;
				text-align: center;
			}
			.bottom {
				text-align: center;
				width: 3.25rem;
				background-color: #1a1e1f;
				border-radius: 2.28rem;
				padding: 1.85rem 0;
			}
		}
	}
}
