.app-home {
	min-height: inherit;
	&-top {
		display: grid;
		.curated-playlist {
			width: 686px;
			height: 373px;
			background-color: brown;
			border-radius: 40px;
			padding: 1rem 2rem;
		}

		@media screen and (min-width: 768px) {
			gap: 30px;
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 3.07rem;
		}
	}
	&-new-releases {
		//display: grid;

		width: 100%;

		.grid-layout {
			width: 100%;
		}
	}
}
