@import "./variables";

.chart-card {
	background-color: $info;
	width: 100%;
	max-width: 417px;
	padding: 1.2rem 1.2rem;
	border-radius: 20px;
	margin-bottom: 12px;
}

.album-card {
	width: 153px;
	height: 153px;
	background-color: palevioletred;
	border-radius: 25px;
	padding: 1rem 1rem;
}
.slide {
	background-color: red;
	max-width: 86vw;
	width: 100%;
}
